@use "../../styles/variables" as *;
@use "./components/nav-switcher";
@use "./components/search";
@use "./components/theme-switcher";
@use '../../common/components/Logo/logo';

// Header
.header {
  background-color: var(--header-bg);
  grid-column: span 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 1px solid var(--border-bg);
  z-index: 1;

  &__container {
    display: flex;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    height: 26px;
    svg {
      height: 100%;
      path {
        fill: var(--header-btn);
      }
    }
  }
}






