@use './variables' as *;

button{
  background-color: transparent;
  border-style: none;
  padding: 0;
}

.header {
  background-color: $secondary-color;
  grid-column: span 2;
  width: 100%;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;




  &__left-section {
    @include flex-center;
    margin-left: 30px;
  }

  &__menu-button {
    path{
      transform-origin: center center;
      transition: all 0.3s ease;

    }
    &:hover path{
      cursor: pointer;
      fill: $almost-white;
      transform: rotate(90deg);
    }
  }

  &__right-section {
    @include flex-center;
    margin-right: 30px;
    gap: 20px;
  }

  &__logo {
    @include flex-center;
    flex-direction: column;
    margin-left: 15px;

    &-container {
      @include flex-center;
    }

    &-line {
      width: 0px;
      height: 2px;
      background: $almost-white;
      transition: all 0.5s ease;
    }

    &:hover {
      cursor: pointer;
      .header__logo-line {
        width: 70%;
        height: 2px;
      }
    }
  }

  &__search-bar {
    height: 40px;
    width: 372px;
    background-color: $border-color;
    border-radius: 10px;
    position: relative;
  }

  &__search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  &__search-input {
    background-color: transparent;
    position: absolute;
    border-style: none;
    top: 8px;
    left: 40px;
    font-size: 20px;
    font-family: Inter, Arial, sans-serif;
    color: white;

    &:focus{
      outline: none;
    }
  }

  &__logo-icon {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
  }

  &__control-button{

    path{
      transition: all 0.3s ease;
    }
    &:hover path{
      cursor: pointer;
      fill: $almost-white;
    }
  }
}







