$body-black : rgb(47, 50, 67);
$body-white : white;

$header: rgb(55, 59, 78);
$border: rgb(65, 69, 89);
$border-white: #F1F1F1;

$search-black: rgb(65, 69, 89);
$search-white: #ECECEC;
$search-white-border: #B6B6B6;
$search-white-input: #777777;
$search-black-input: rgb(176, 176, 176);

$switcher: rgb(26, 26, 26);

$main-black: rgb(47, 50, 67);
$main-white: #FFFFFF;

$almost-white: rgb(170, 178, 197);
$almost-black: rgb(114, 114, 114);
$green: rgb(104, 182, 155);
$green-button: rgb(89, 159, 136);
$light-green: rgb(56, 77, 71);
$yellow: rgb(250, 239, 129);
$purple: rgb(82, 94, 201);

$button-border: rgb(85, 92, 125);
