$secondary-color: rgb(55, 59, 78);
$border-color: rgb(65, 69, 89);
$main-color : rgb(47, 50, 67);
$almost-white: rgb(158, 166, 185);
$green: rgb(104, 182, 155);
$yellow: rgb(250, 239, 129);
$blue: rgb(82, 94, 201);
$input-header-color: rgb(176, 176, 176);
$theme-switch-black: rgb(26, 26, 26);
