@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../components/Header/styles/header';
@use '../components/Sidebar/styles/sidebar';
@use '../components/Project/styles/project';
@use '../components/Auth/Login/login';
@use './portal' as *;

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--color-background-primary);
  font:
    20px Inter,
    Arial,
    sans-serif;
  transition: background-color 0.2s ease-in-out;
  height: 100vh;
}

.body--white {
  background-color: var(--color-border-primary);
}

#root {
  height: 100%;
}

.home {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 50px auto;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
