@use "../styles/variables" as *;
@use '../components/Header/header';
@use '../components/Sidebar/sidebar';
@use '../components/Main/main';

body {
margin: 0;
background-color: $main-color;
}

#root {
  font: 20px Inter, Arial, sans-serif;
  background: $main-color;
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 50px auto;
  box-sizing: border-box;
}

