@use './_header';
@use './_sidebar';
@use './_main';

$main-color : rgb(47, 50, 67);

body {
  margin: 0 auto;
}

button{
  background-color: transparent;
  border-style: none;
  padding: 0;
}

#root {
  font: 20px Inter, Arial, sans-serif;
  background: $main-color;
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: 65px auto;
  box-sizing: border-box;
}

