@use "../../styles/variables" as *;
.main {
  background-color: $main-black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease-in-out;

  &--white{
    background-color: $main-white;
  }

  &__button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin: 20px 0px 0px 20px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $button-border;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    color: $almost-white;

    &:hover {
      background-color: $border;
    }

    svg{
      width: 15px;
      path{
        fill: $almost-white;
      }
    }

    &--white{
      color: $almost-black;
      svg path {
          fill: $almost-black;
      }

      &:hover {
        background-color: $border-white;
        color: black;

        svg path {
          fill: black;
        }
      }
    }



    &--create {
      border-color: $green-button;
    }

    &--link {
    }
  }
}