@use '../../../styles/variables' as *;
@use './projectSettings' as *;
@use './projectOptions' as *;
@use './projectInfo' as *;
@use './projectDeleteConfirmation' as *;

.project{
  background-color: var(--main-bg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-in-out;
  transform: translateX(-100%);
  z-index: 0;
  &--show{
    transform: translateX(0);
    opacity: 1;
  }

  &--hide{
    transform: translateX(100%);
    opacity: 0;
  }



  &__button-container {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin: 20px 0px 0px 20px;
  }

  &__button {
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--button-border);
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    color: var(--text);

    &:hover {
      background-color: var(--border-bg);
    }

    svg {
      width: 15px;
      height: 15px;
      path {
        fill: var(--text);
      }
    }

    &--white {
      color: var(--text);
      svg path {
        fill: var(--text);
      }

      &:hover {
        background-color: var(--border-bg);
        color: black;

        svg path {
          fill: black;
        }
      }
    }

    &--create {
      border-color: var(--green);
    }
  }
}
