.confirmation {
  position: absolute;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-border-secondary);
  background-color: var(--color-background-secondary);
  border-radius: 10px;
  color: var(--color-text-primary);
  top: 30%;
  left: 40%;

  &--show{
    animation: fadeIn 0.2s forwards;
  }

  &--hide{
    animation: fadeOut 0.2s forwards;
  }

  &__title {
    padding-top: 20px;
    font-size: 1.2rem;
  }

  &__buttons {
    padding: 20px 0px 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
  }

  &__text{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
    padding: 0 10px;
    color: var(--color-action-danger);
    &--show{
      animation: fadeIn 0.2s ease-in-out;
    }
  }

  &__confirm {
    color: var(--color-action-danger);
    font-size: 1.2rem;
    width: 40%;
    border: 1px solid var(--color-border-secondary);
    padding: 5px 30px;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;

    &:disabled{
      color: var(--color-state-disabled);

      &:hover{
        border: 1px solid var(--color-border-secondary);
      }
    }

    &:hover{
      border: 1px solid var(--color-action-danger);
    }
  }

  &__deny {
    color: var(--color-text-primary);
    font-size: 1.2rem;
    width: 40%;
    border: 1px solid var(--color-border-secondary);
    padding: 5px 30px;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;

     &:hover{
      border: 1px solid var(--color-border-tertiary);
    }
  }

  &__loader{
    margin-top: 20px;
    height: 5px;
    background-color: var(--color-text-primary);
    border-radius: 10px;
    width: 80%;

    &--hide{
      animation: loaderOut 2s forwards;
    }
  }
}

@keyframes loaderOut {
  from{
    width: 80%;
  }
  to{
    width: 0;
  }
}

