.create{
  &__button{
    color: var(--text);
    width: 100%;
    border: 1px solid var(--green);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 18px;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: var(--green-hover);
    }
    svg{
      width: 15px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &__label{
    text-align: left;
    overflow: hidden;
    &--hidden {
     display: none;
    }
  }

  &__options{
    position: absolute;
    padding: 10px 10px;
    transition: background-color 0.2s ease-in-out;
    z-index: 1000;
    top: 10px;
    width: 150px;
    right: -78px;
    border: 1px solid var(--create-border);
    border-radius: 5px;
    gap: 5px;
    background-color: var(--create-div);
    display: flex;
    flex-direction: column;
    align-items: start;
 

    button{
      font-size: 1rem;
      width: 100%;
      padding: 10px 10px;
      color: var(--text);
      display: flex;
      align-items: center;
      gap: 6px;
      transition: all 0.2s ease;
      
      &:hover{
        background-color: var(--border-bg);
    
      }
      svg{
        width: 15px;
        height: 15px;
      }
    }
  }


}
