.project {
  &__label {
    text-align: left;
    overflow: hidden;
    &--hidden {
      display: none;
    }
  }

  &__create {
    background-color: var(--clicked-button);

    &:hover {
      filter: brightness(1.1);
    }
  }
  &__options {
    position: absolute;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    z-index: 1000;
    top: 10px;
    width: 200px;
    right: -338px;
    border: 1px solid var(--create-border);
    border-left: 7px solid var(--green);

    border-radius: 5px;
    gap: 10px;
    background-color: var(--create-div);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);

    input {
      font-size: 1rem;
      background-color: var(--search-bg);
      padding: 5px 5px;
      border-style: none;
      color: var(--text);

      &:focus {
        outline: none;
      }
    }

    button {
      font-size: 1rem;
      width: 100%;
      padding: 10px 0px;
      color: var(--text);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border-radius: 10px;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--clicked-button);
      }
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
