@use "../../styles/variables" as *;
.sidebar {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  flex-direction: column;
  background-color: var(--header-bg);
  padding: 20px 10px 20px 10px;
  border-right: 1px solid var(--border-bg);
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  clip-path: inset(0px -10px -10px -10px);
  transition: all 0.1s ease-in-out, background-color 0.3s ease-in-out , border 0.3s ease-in-out;
  width: 200px;
  overflow: hidden;
  z-index: 2;

  svg path{
    fill: var(--text);
  }

  &--hidden {
    width: 40px;
  }

  &__label{
    text-align: left;
    overflow: hidden;
    &--hidden {
     display: none;
    }
  }


  &__top, &__bottom,  &__analytics,  &__analytics-container, &__projects-container, &__projects,  {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__top {
    width: 100%;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-bg);
    transition: border 0.3s ease-in-out;
  }

  &__create {
    color: var(--text);
    width: 100%;
    border: 1px solid var(--green);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    position: relative;
    display: flex;
    jusctify-content: start;
    align-items: center;
    gap: 18px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--green-hover);
    }
    svg{
      width: 15px;
      height: 20px;
      flex-shrink: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    transition: background-color 0.1s ease-in-out;
    width: 100%;
    justify-content: start;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    &:hover {
      background-color: var(--border-bg);
    }

    svg{
      width: 15px;
      height: 20px;
      flex-shrink: 0;
    }
    color: var(--text);
    &--expand {
      transition: transform 0.3s ease-in-out;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  &__arrow {
    transition: transform 0.1s ease-in-out;
    transform: rotate(-180deg);

    &--rotate {
      transform: rotate(0deg);
    }
  }

  &__analitycs, &__projects {
    width: 100%;
    height: min-content;
    padding: 10px 0 10px 0;
  }

  &__analytics-container {
    gap: 5px;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px solid var(--border-bg);
    padding-bottom: 15px;
    overflow: hidden;
    opacity: 1;
    max-height: 100px;

    &--hidden {
      padding: 0;
      opacity: 0;
      max-height: 0;
    }
  }

  &__projects-container {
    gap: 5px;
    transition: all 0.5s ease-in-out;
    padding-bottom: 15px;
    overflow: hidden;
    opacity: 1;
    max-height: 100px;

    &--hidden {
      padding: 0;
      opacity: 0;
      max-height: 0;
    }
  }

}